@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Maven+Pro&display=swap');

:root {
    --primary-color: #144266;
    --secondary-color: #5A95A2;
    --accent1-color: #C8F3F3;
    --accent2-color: #FEDF73;

    --heading-font: 'Castoro', serif;
    --paragraph-font: 'Maven Pro', serif;

    --nav-background-color: #144266;
    --nav-link-color: #5a95a2;
    --nav-hover-link-color: #C8F3F3;
    --nav-hover-background-color: #FEDF73;
}

body {
    margin: 1%;
}

header {
    margin: 1% auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.nav-header {
    display: flex;
    background-color: var(--accent2-color);
    font-size: 1.4rem;
    padding: 1rem;
    width: 90%;
    justify-content: space-around;
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header img {
    width: 35%;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
}

.hero {
    position: relative;
}

h1 {
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(254, 223, 115, 0.8);
    
}

article {
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
    background-color: rgba(236, 236, 236, 0.7);
    padding: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#article-img {
    width: 10%;
    float: right;
    
}

.history {
    background-color: var(--secondary-color);
    margin: 1% auto;
    padding: 10px;
    border: black 2px solid;
}

.adventure-section {
    border: 2px solid black;
    background-color: var(--accent1-color);
}

.adventure {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.adventure img {
    max-width: 200px;
    border: thin solid black;
}

figcaption {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--secondary-color);
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.sociallinks img{
    max-width: 40px;
}

/* contact.html */

#contact {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#first-section {
    margin: 1% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:antiquewhite;
    
}

#first-section img {
    justify-self: center;
    border: 3px solid gray;
    margin: 0.5rem; 
    width: 400px;
    height: 600px;
    align-self: center;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #C8F3F3;
    padding: 0.5rem;
    
}

#information h2 {
    font-size: 60px;
}

#details ul{
    font-size: 1.5rem;
    margin-bottom: 70px;
    font-family: var(--paragraph-font);
}

#map iframe{
    width: 600px;
    height: 200px;
}

#second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% auto;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.8rem;
    background-color: #eee;
    display: grid;
}

label {
    margin: 0.5rem;
    padding-top: 10px;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1rem;
}

#q3 {
    display: flex;
}

button {
    margin-top: 1rem;
    background-color: rgb(88, 133, 21);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: black;
}

#employees {
    display: flex;
    flex-direction: column;
    background-color: var(--accent1-color);
}

#employees figcaption {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}

#employees img {
    width: 300px;
    height: 200px;   
}

#right {
    align-self: self-end;
}